body {
  text-align: center;
  background-color: black;
}
div {
  font-size: 100px;
  color: chartreuse;
  padding: 50px;
}
button {
  color: chartreuse;
  background-color: black;
  font-size: 50px;
}
span {
  color: chartreuse;
  background-color: black;
  font-size: 100px;
}
